<div class="hero-section-slider">
    <div id="hero-section-slider" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#hero-section-slider" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" class="mx-1" data-bs-target="#hero-section-slider" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#hero-section-slider" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" id="carousel-first-item">
                <div class="carousel-item-content">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="title" data-aos="fade-down" data-aos-duration="2000">
                                <h1>Fresh Food & Healthy Food</h1>
                            </div>
                            <div class="text-area mt-20" data-aos="fade-left" data-aos-duration="2000">
                                <p>Free Shipping on Your all order</p>
                            </div>
                            <div class="btn-area mt-30" data-aos="fade-up" data-aos-duration="2000">
                                <a href="" class="my-btn">Shop Now
                                    <span> <i class="bi bi-arrow-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" id="carousel-second-item">
                <div class="carousel-item-content">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="title" data-aos="fade-down" data-aos-duration="2000">
                                <h1>Fresh Food & Healthy Food</h1>
                            </div>
                            <div class="text-area mt-20" data-aos="fade-left" data-aos-duration="2000">
                                <p>Free Shipping on Your all order</p>
                            </div>
                            <div class="btn-area mt-30" data-aos="fade-up" data-aos-duration="2000">
                                <a href="" class="my-btn">Shop Now
                                    <span> <i class="bi bi-arrow-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" id="carousel-third-item">
                <div class="carousel-item-content">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="title" data-aos="fade-down" data-aos-duration="2000">
                                <h1>Fresh Food & Healthy Food</h1>
                            </div>
                            <div class="text-area mt-20" data-aos="fade-left" data-aos-duration="2000">
                                <p>Free Shipping on Your all order</p>
                            </div>
                            <div class="btn-area mt-30" data-aos="fade-up" data-aos-duration="2000">
                                <a href="" class="my-btn">Shop Now
                                    <span> <i class="bi bi-arrow-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>