@media only screen and (max-width: 992px) {

    /*
      Category Menu Start
    --------------------------------*/
    .category-menu-area {
        display: none;
    }

}

@media only screen and (max-width: 768px) {

    /*
      Category Menu Start
    --------------------------------*/
    .category-menu-area {
        display: none;
    }

}

@media only screen and (max-width: 480px) {

    /*
      Category Menu Start
    --------------------------------*/
    .category-menu-area {
        display: none;
    }

}