<div class="container">
    <div class="row pt-40 pb-40">
        <!-- =========== Category Menu Start =========== -->
        <div class="col-lg-3 col-md-3">
            <app-categories></app-categories>
        </div>
        <!-- =========== Category Menu End =========== -->

        <!-- =========== Hero Section Start =========== -->
        <div class="col-lg-9 col-md-12 col-sm-12">
            <app-slider></app-slider>
        </div>
        <!-- =========== Hero Section End =========== -->
    </div>
</div>